<form action="/recipes" method="POST">
    <div>
        <label for="name">Nom :</label>
        <input type="text" id="name" name="recipe_name">
    </div>
    <div>
        <label for="description">Description :</label>
        <input type="text" id="description" name="recipe_description">
    </div>
    <div>
        <label for="rating">Rating :</label>
        <input type="number" id="rating" name="recipe_rating">
    </div>
    <div>
        <label for="prep">Temps de Preparation :</label>
        <input type="number" id="prep" name="recipe_prep">
    </div>
    <input type="submit"/>
</form>

<a href="http://localhost:4567/">Index</a>