<form action="/scraping" method="POST">
    <div>
        <label for="ingredient">Ingredeint :</label>
        <input type="text" id="ingredient" name="ingredient">
    </div>
    <input type="submit"/>
</form>
